{% extends "library_template.html.twig" %}

{% block leftblock %}

    <h3>Patron</h3>
    <p>
        patron details
    </p>


{% endblock %}

{% block middleform %}
    <p>
        checkout book
    </p>
{% endblock %}

{% block rightblock %}

    <h3>list of their books</h3>

    <p>
        return book button
    </p>

{% endblock %}
