{% extends "library_template.html.twig" %}

{% block leftblock %}

    <h3>{{library.getName}}</h3>
    <h2>
        {{patron.getFirstName}}
    </h2>


{% endblock %}

{% block middleform %}
    <p>
        checkout book
    </p>
{% endblock %}

{% block rightblock %}

    <h3>list of books checked out</h3>

    {% for book in books %}
        <p>
            {{book.getTitle}}
        </p>
    {% endfor %}

{% endblock %}
